<!DOCTYPE html>
<html>
	
	<header>
	    <meta charset="UTF-8" /> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
		<script src = "/javascript/register.js" > </script>
		<script type="text/javascript">
		var id;
		
		function init() {
			var matches = /id=([^&#=]*)/.exec(window.location.search);
			id = matches[1];
			
			angular.element(document.getElementById('main')).scope().id = id;
			angular.element(document.getElementById('main')).scope().getData(id);
	    }
		</script>
		
		<script type="text/javascript">
		
	        function checkNum(value) {
	            if (isNaN(parseFloat(value))) {
	                //alert("Please input number again.");
	                return "";
	            }
	            return value;
	        }
	        function TriggerClick() {
	
	            //fireEvent(document.getElementById("ctl00_ContentPlaceHolder1_ImageButton1"), "click");
	            document.getElementById("ctl00_ContentPlaceHolder1_ImageButton1").click();
	            ////                        console.log(document.getElementById("ctl00_ContentPlaceHolder1_ImageButton1"));
	        }
	        function redirect() {
	            document.forms[0].target = "_blank";
	        }
	        
	        function update(){
		    	if (validate())
		    	{
		    		angular.element(document.getElementById('main')).scope().saveData();
		    	}
		    }
	        
        	
	        function validate(){
	        	
	        	return ValidationEmail() && ValidateBirthday() && ValidateStudentId() && ValidateCongenital();
	        }
	        
	        function ValidateCongenital()
	        {
	        	
	        	var result =false;
	        	//if no error return true
	        	result=true;
	        	return result;
	        }
	        
	        function ValidationStudentId()
	        {
	        	
	        	var result =false;
	        	var temp= document.getElementById("txtstudent");
	        	var result = document.getElementById("lbl_student_id__c");
	        	document.getElementById("lbl_student_id__c").innerHTML='';
	        	
	 			//alert('temp'+ temp.value);
	 			if ((temp.value !='') && (temp.value.length == 10)) {
	 				result=true;
	 			}else{
	 				result.innerHTML = 'Student Id cannot be null.';
	 				result.style.color = 'red';
	 			}
	        	
	        	return result;
	        	
	        }
	        
	        function ValidationEmail()
	        {
	        	
	        	var result =false;
	        	var temp= document.getElementById("txtEmail");
	        	var result = document.getElementById("lbl_email");
	        	document.getElementById("lbl_email").innerHTML='';
	        	
	        	//alert('temp'+ temp.value);
	        	 if (validateEmail(temp.value)) {
	        	 	result=true;
	        	 }else{
	        	 	
	        	 	result.innerHTML = 'Email not correct format.';
	        	 	result.style.color = 'red';
	        	 }
	        	
	        	return result;
	        }
	        
	        function ValidateBirthday()
	        {
	        	var result =false;
	        	//if no error return true
	        	result=true;
	        	return result;
	        }
            /*
  			function validate5() {
  			  $("#result").text("");
  			  var myEmail = $("#myEmail").val();
  			  if (validateEmail(myEmail)) {
  			    $("#result").text(myEmail + " is valid :)");
  			    $("#result").css("color", "green");
  			  } else {
  			    $("#result").text(myEmail + " is not valid :(");
  			    $("#result").css("color", "red");
  			  }
  			  return false;
  			}
  			*/
  			
  			
  			function validateEmail(myEmail) {
    			  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    			  alert(re.test(myEmail));
    			  return re.test(myEmail);
    			}

  			$("#validate").bind("click", validate);
  		
  			function testfunction(){
  				alert('1');
  			}
        	

		/*
  			$(window).on('load', function () {
  			     alert('Alert after page load');
  			     
  			   alert('val = '+$("#txt_parent_name__c").val() );
  			     
  			     if($("#txt_parent_name__c").val()=="null"){
  			    	alert('1' );
  			    	$("#txt_parent_name__c").text("");
  			    	alert('2' );
  			     }
  			     
  			     
  			});*/


  			
  			
	    </script>
	    <style type="text/css">
	    	.myclass {
				text-transform:uppercase!important;
	     	}
	     	.CustomLayout1{
	        	width : 49%;
	     	}
	
	    	.CustomLayout2{
	        	//background-color: lightblue;  
	         	padding-top:5px; 
	     	}
	     
	    </style>
		
		<script>
	        function colorPageBlock(pageblock) {
	            if (pageblock != null){ pageblock.firstChild.style.cssText = "background-color: #C80000; color: white;";}
	        }
	    </script>
		
	</header>
	
	<body id="main" onload="init();" ng-app="leadApp" ng-controller="mainController">
	{{lead}}
		<div>
			<table style="width:100%">
				<tr>
					<td colspan ="3" align="center" >
				  
					</td>
				</tr>
				
				<tr style="height:5px">
					<td colspan="3"></td>
				</tr>
				
				<!-- Student Information -->
				
				<tr style="background-color: #C80000">
					<td colspan="3" align="left">
						<b style="color:white">Student Information / ข้อมูลของนักศึกษาผู้จอง</b>
					</td>
				</tr>
				
				<tr style="height:5px">
					<td colspan="3"></td>
				</tr>
				
				<tr>
				
					<td align="center"><table style="width:100%">
					
						<tr>
							<td align="right" class='CustomLayout1' >
								ID Cards / หมายเลขประชาชน
							</td>
							<td></td>
							<td class='CustomLayout1'>
								<input type="text" ng-model="lead.identification_number__c" onchange="testfunction()" >
								<label id="lbl_indectification_number__c"/>
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Passport No.
							</td>
							<td></td>
							<td>
								<input type="text" ng-model="lead.passport_number__c">
								<label id="lbl_passport_number__c"/>
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Sex /เพศ
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<select ng-model="lead.gender__c" ng-options="g for g in gender"></select>
								<label id="lbl_gender__c"/>
							</td>
						</tr>
						
						<tr>
							<td align="right">
								คำนำหน้าชื่อ
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<select ng-model="lead.title_th__c" ng-options="x for x in title"></select>
								<label id="lbl_title_th__c"/>
							</td>
						</tr>
						
						<tr>
							<td align="right" class="CustomLayout2" >
								Student Name-Surname/ชื่อ-สกุลนักศึกษา (Thi)
							</td>
							<td class="CustomLayout2">
								<b style="color=red">*</b>
							</td>
							<td>
								<Table style="margin-left:-3px;">
									<tr>
										<td>
											<input type="text" ng-model="lead.first_name_th__c">
										</td>
										<td>
											<input type="text" ng-model="lead.last_name_th__c" >
											<label id="lbl_name_th__c"/>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						
						<tr>
							<td align="right" class="CustomLayout2">
								Title
							</td>
							<td class="CustomLayout2">
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="lead.salutation">
								<label id="lbl_salutation"/>
							</td>
						</tr>
						
						<tr>
							<td align="right" class="CustomLayout2">
								Student Name-surname/ชื่อ-สกุลนักศึกษา (Eng)
							</td>
							<td class="CustomLayout2">
								<b style="color=red">*</b>
							</td>
							<td>
								<Table style="margin-left:-3px;">
									<tr>
										<td>
											<input type="text" ng-model="lead.firstname">
										</td>
										<td>
											<input type="text" ng-model="lead.lastname">
											<label id="lbl_name_en__c"/>
										</td>
									</tr>
								</Table>
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Birthdate /วันเกิด
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="">
								<label id="lbl_mobilephone"/>
							</td>
						</tr>
						
						
						<tr>
							<td align="right">
								Mobile No/เบอร์โทร
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="lead.mobilephone">
								<label id="lbl_mobilephone"/>
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Email /อีเมลล์
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								 <input type="text" ng-model="lead.email" id="txtEmail">
								 <label id="lbl_email"/>
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Congenital disease /โรคประจำตัว
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								 <input type="text" ng-model="lead.congenital_disease__c">
								 <label id="lbl_congenital_disease__c" />
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Student ID /รหัสนักศึกษา
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="lead.student_id__c" id="txtstudent" maxlenght="10">
								<label id="lbl_student_id__c" />
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Faculty /คณะ
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="lead.faculty__c">
								<label id="lbl_faculty__c" />
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Year /ปีการศึกษา
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="">
								<label id="lbl_year__c" />
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Term /ภาคการศึกษา
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="">
								<label id="lbl_term__c" />
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Request Zone /เลือกโซน
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<!--  <input type="text" ng-model="lead.request_zone__c"> -->
								<select id="state"
							    ng-model="lead.request_zone__c"
							    ng-disabled="!lead.gender__c"
							    ng-options="z for z in zones" />
							    <label id="lbl_request_zone__c" />
							</td>
						</tr>
						
					
					</table></td>
					
				</tr>
				
				<!-- Student Information -->
				
				<tr style="height:5px">
					<td colspan="3"></td>
				</tr>
				
			</table>
			
			<table style="width:100%">
				
				<!-- Address Information -->
				
				<tr style="background-color: #C80000">
					<td colspan="3" align="left">
						<b style="color:white">Address Information / ข้อมูลที่อยู่ (ที่อยู่ตามภูมิลำเนา)</b>
					</td>
				</tr>
				
				<tr style="height:5px">
					<td colspan="3"></td>
				</tr>
				
				<tr>
					<td align="center"><table style="width:100%">
				
						<tr>
							<td align="right" class='CustomLayout1'>
								No. / Soi / Road (บ้านเลขที่ / ซอย / ถนน)
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td class='CustomLayout1'>
								<input type="text" ng-model="lead.street">
							</td>
						</tr>
						
						<tr>
							<td align="right">
								District (อำเภอ / เขต)
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="lead.city">
								<label id="lbl_city" />
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Province (จังหวัด)
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="lead.state">
								<label id="lbl_lead" />
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Postal Code (รหัสไปรษณีย์)
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="lead.postalcode">
								<label id="lbl_postalcode" />
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Country (ประเทศ)
							</td>
							<td>
								<b style="color=red">*</b>
							</td>
							<td>
								<input type="text" ng-model="lead.country">
								<label id="lbl_country" />
							</td>
						</tr>
						
					</table></td>
					
				</tr>
				
				<!-- Address Information -->
				
				<tr style="height:5px">
					<td colspan="3"></td>
				</tr>
				
			</table>
			
			<table style="width:100%">
			
				<!-- Parent Information -->
				
				<tr style="background-color: #C80000">
					<td colspan="3" align="left">
						<b style="color:white">Parent Information / ชื่อผู้ปกครอง</b>
					</td>
				</tr>
				
				<tr style="height:5px">
					<td colspan="3"></td>
				</tr>
				
				<tr>
					<td align="center"><table style="width:100%">
				
						<tr>
							<td align="right" class='CustomLayout1'>
								Name /ชื่อผู้ปกครอง
							</td>
							<td>
							</td>
							<td class='CustomLayout1'>
								<input type="text" ng-model="lead.parent_name__c"  postrender-action="alert('last posted');">
							</td>
						</tr>
						<tr>
							<td align="right">
								Telephone /เบอร์ติดต่อผู้ปกครอง
							</td>
							<td>
							</td>
							<td>
								<input type="text" ng-model="lead.parent_phone__c">
							</td>
						</tr>
						
						<tr>
							<td align="right">
								Parent Income (per year) /รายได้ผู้ปกครอง (ต่อปี)
							</td>
							<td>
							</td>
							<td>
								<input type="text" ng-model="">
							</td>
						</tr>
						
						
						<tr style="height:5px">
							<td colspan="3"></td>
						</tr>
						
						<tr>
							<td align="right" class='CustomLayout1'>
								Name /ชื่อผู้ปกครอง (2)
							</td>
							<td>
							</td>
							<td class='CustomLayout1'>
								<input type="text" ng-model="lead.parent_name_2__c">
							</td>
						</tr>
						<tr>
							<td align="right">
								Telephone /เบอร์ติดต่อผู้ปกครอง (2)
							</td>
							<td>
							</td>
							<td>
								<input type="text" ng-model="lead.parent_phone_2__c">
							</td>
						</tr>
						
					</table></td>
				
				</tr>
				
				<!-- Parent Information -->
			   
			</table>
			
			<br/><br/><center><button onclick="update();" style="background:limegreen; color:white; width:80px; height:30px">Save</button>
			
		</div>
	
	</body>
</html>