<!DOCTYPE html>
<html>
	<header>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src = "/javascript/view_account.js"></script>
		<script type="text/javascript">
		var id;
		
	    function init() { 
			var matches = /id=([^&#=]*)/.exec(window.location.search);
			id = matches[1];
				
			angular.element(document.getElementById('main')).scope().getData(id);		
	    }
		
	    function update(){
	    	angular.element(document.getElementById('main')).scope().updateData(id);
	    }
	    
	    function loadTitle(){
	    	document.getElementById("myTitle").value = angular.element(document.getElementById('main')).scope().account.title_th__c;
	    }
	    
	    function changeTitle() {
	        var x = document.getElementById("myTitle").value;
	        angular.element(document.getElementById('main')).scope().account.title_th__c = x;
	    }
	    
		</script>
		
		<script type="text/javascript">
    
			function checkNum(value) {
				
				if (isNaN(parseFloat(value))) {
					//alert("Please output number again.");
					return "";
				}
				
				return value;
			}
			
			function TriggerClick() {
			
				//fireEvent(document.getElementById("ctl00_ContentPlaceHolder1_ImageButton1"), "click");
				document.getElementById("ctl00_ContentPlaceHolder1_ImageButton1").click();
				////                        console.log(document.getElementById("ctl00_ContentPlaceHolder1_ImageButton1"));
			}
			
			function redirect() {
				document.forms[0].target = "_blank";
			}
		
		</script>
		
		<style type="Text/css">
			.myclass {
				text-transform:uppercase!important;
			}
			
			.CustomLayout1 {
			width : 49%;
			}
			
			.CustomLayout2 {
			//background-color: lightblue;  
			padding-top:5px; 
			}
		
		</style>
		
	</header>
	<body id="main" onload="init();" ng-app="accountApp" ng-controller="mainController">
        
        <br/><br/><center><apex:commandButton value="Select Roommate" action="{!goToSelectRoomMate}"/></center><br/>
        
        <div>
            <table style="width:100%">
                <tr>
                    <td colspan ="3" align="center" >
                  
                    </td>
                </tr>
                
                <tr style="height:5px">
                    <td colspan="3"></td>
                </tr>
                
                <!-- Student Information -->
                
                <tr style="background-color: #C80000">
                    <td colspan="3" align="left">
                        <b style="color:white">Student Information / ข้อมูลของนักศึกษาผู้จอง</b>
                    </td>
                </tr>
                
                <tr style="height:5px">
                    <td colspan="3"></td>
                </tr>
                
                <tr>
                
                    <td align="center"><table style="width:100%">
                    
                        <tr>
                            <td align="right" class='CustomLayout1' >
                                ID Cards / หมายเลขประชาชน
                            </td>
                            <td> : </td>
                            <td class='CustomLayout1'>
                                <label id="identity">{{ account.identification_number__c }}</label>
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Passport No.
                            </td>
                            <td> : </td>
                            <td>
                            	<label id="passport">{{ account.passport_number__c }}</label>
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Sex /เพศ
                            </td>
                            <td> : </td>
                            <td>
                            	<label id="gender">{{ account.gender__c }}</label>
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                คำนำหน้าชื่อ
                            </td>
                            <td> : </td>
                            <td>
						<label id="titleTH">{{ account.title_th__c }}</label>
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right" class="CustomLayout2" >
                                Student Name-Surname/ชื่อ-สกุลนักศึกษา (Thi)
                            </td>
                            <td class="CustomLayout2"> : </td>
                            <td>
                                <Table style="margin-left:-3px;">
                                    <tr>
                                        <td>
                                        	<label id="nameTH">{{ account.first_name_th__c }}</label>
                                        </td>
                                        <td>
                                        	<label id="nameTH">{{ account.last_name_th__c }}</label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right" class="CustomLayout2">
                                Title
                            </td>
                            <td class="CustomLayout2"> : </td>
                            <td>
                            	<label id="titleEN">{{ account.salutation }}</label>
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right" class="CustomLayout2">
                                Student Name-surname/ชื่อ-สกุลนักศึกษา (Eng)
                            </td>
                            <td class="CustomLayout2"> : </td>
                            <td>
                                <Table style="margin-left:-3px;">
                                    <tr>
                                        <td>
                                        	<label id="nameEN">{{ account.firstname }}</label>
                                        </td>
                                        <td>
                                        	<label id="nameEN">{{ account.lastname }}</label>
                                        </td>
                                    </tr>
                                </Table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Mobile No/เบอร์โทร
                            </td>
                            <td> : </td>
                            <td>
                                <input type="text" id="myPhone" ng-model="account.personmobilephone">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Email /อีเมลล์
                            </td>
                            <td> : </td>
                            <td>
                                 <input type="text" id="myEmail" ng-model="account.personemail">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Congenital disease /โรคประจำตัว
                            </td>
                            <td> : </td>
                            <td>
                                 <input type="text" id="disease" ng-model="account.congenital_disease__c">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Student ID /รหัสนักศึกษา
                            </td>
                            <td> : </td>
                            <td>
                                <input type="text" id="studentId" ng-model="account.student_id__c">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Faculty /คณะ
                            </td>
                            <td> : </td>
                            <td>
								<input type="text" id="faculty" ng-model="account.faculty__c">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Request Zone /เลือกโซน
                            </td>
                            <td> : </td>
                            <td>
                                <input type="text" id="request" ng-model="account.request_zone__c">
                            </td>
                        </tr>
                        
                        <!-- <tr>
                            <td align="right">
                                Request Zone Reserve/เลือกโซนสำรอง
                            </td>
                            <td> : </td>
                            <td>
                                <apex:outputField value="{!theAccount.Request_Zone_Reserve__c}" />
                            </td>
                        </tr> -->
                    
                    </table></td>
                    
                </tr>
                
                <!-- Student Information -->
                
                <tr style="height:5px">
                    <td colspan="3"></td>
                </tr>
                
            </table>
            
            <table style="width:100%">
                
                <!-- Address Information -->
                
                <tr style="background-color: #C80000">
                    <td colspan="3" align="left">
                        <b style="color:white">Address Information / ข้อมูลที่อยู่ (ที่อยู่ตามภูมิลำเนา)</b>
                    </td>
                </tr>
                
                <tr style="height:5px">
                    <td colspan="3"></td>
                </tr>
                
                <tr>
                    <td align="center"><table style="width:100%">
                
                        <tr>
                            <td align="right" class='CustomLayout1'>
                                No. / Soi / Road (บ้านเลขที่ / ซอย / ถนน)
                            </td>
                            <td> : </td>
                            <td class='CustomLayout1'>
                                <input type="text" id="street" ng-model="account.billingstreet">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                District (อำเภอ / เขต)
                            </td>
                            <td> : </td>
                            <td>
                                <input type="text" id="city" ng-model="account.billingcity">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Province (จังหวัด)
                            </td>
                            <td> : </td>
                            <td>
                                <input type="text" id="state" ng-model="account.billingstate">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Postal Code (รหัสไปรษณีย์)
                            </td>
                            <td> : </td>
                            <td>
                                <input type="text" id="postcode" ng-model="account.billingpostalcode">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="right">
                                Country (ประเทศ)
                            </td>
                            <td> : </td>
                            <td>
                                <input type="text" id="country" ng-model="account.billingcountry">
                            </td>
                        </tr>
                        
                    </table></td>
                    
                </tr>
                
                <!-- Address Information -->
                
                <tr style="height:5px">
                    <td colspan="3"></td>
                </tr>
                
            </table>
            
            <table style="width:100%">
            
                <!-- Parent Information -->
                
                <tr style="background-color: #C80000">
                    <td colspan="3" align="left">
                        <b style="color:white">Parent Information / ชื่อผู้ปกครอง</b>
                    </td>
                </tr>
                
                <tr style="height:5px">
                    <td colspan="3"></td>
                </tr>
                
                <tr>
                    <td align="center"><table style="width:100%">
                
                        <tr>
                            <td align="right" class='CustomLayout1'>
                                Name /ชื่อผู้ปกครอง
                            </td>
                            <td> : </td>
                            <td class='CustomLayout1'>
                                <input type="text" id="parent" ng-model="account.parent_name__c">
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Telephone /เบอร์ติดต่อผู้ปกครอง
                            </td>
                            <td> : </td>
                            <td>
                                <input type="text" id="parentPhone" ng-model="account.parent_phone__c">
                            </td>
                        </tr>
                        
                    </table></td>
                
                </tr>
                
                <!-- Parent Information -->
                
            </table>
            
                <br/><br/><center>
                    <button onclick="update();">Save</button>
                </center><br/><br/>
                    
        </div>
        
	</body>
</html>